$ff: "Nunito Sans", sans-serif;
$ff-second: "Graphik", sans-serif;

$paragraph: #262626;
$terciary: #f9f1fe;
$text: #575757;
$primary: #8842f0;
$primary: #5454d4;
$white: #ffffff;
$black: #000;
$dark: #19191b;
$grey: #d9d9d9;
$darkgrey: #6c6c6c;
$darkpurple: #1c1b1f;
$dotsBg: #121213;

$transition: 0.2s all ease-in-out;

$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

$container: 1240rem;
