$ff: 'Nunito Sans', sans-serif;

$paragraph: #262626;
$terciary: #F9F1FE;
$text: #575757;
$primary: #8842F0;
$white: #FFFFFF;
$black: #000;
$grey: #D9D9D9;
$darkgrey: #6C6C6C;
$darkpurple: #1C1B1F;

$transition: .2s all ease-in-out;

$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

$container: 1210px;
