.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40rem 20rem;
  gap: 20rem;
  padding-bottom: 23rem;

  @include mobile{
    padding: 24rem;
    padding-top: 45rem;
    padding-bottom: 66rem;
  }

}

.nav {
  display: flex;

  &__a {
	@include text($ff, 400, 18rem, 25rem, rgba(255, 255, 255, 0.7));
	transition: $transition;
	&:hover{
		color: #fff;
	}
	&._active {
	  color: #5454d4;
	}
  }

  &__ul {
    display: flex;
    align-items: center;
    gap: 40rem;

    @include tablet {
      position: fixed;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      background: $darkpurple;
      left: 0;
      top: 0;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: $transition;
      transform: translateX(-120%);
      z-index: 2;

      .nav__a {
        font-size: 21rem;
        line-height: 29rem;
        color: #fff;
      }
    }
  }
}

.icon-menu {
  display: none;
}

@include tablet {
  .icon-menu {
    display: block;
    flex: 0 0 30rem;
    height: 18rem;
    position: relative;
    z-index: 5;
    background: $dark;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    height: 3rem;
    background-color: #fff;
    transition: $transition;
    border-radius: 2rem;
  }

  .icon-menu::before {
    top: 0;
    width: 100%;
  }

  .icon-menu::after {
    bottom: 0;
    width: 42.8%;
  }

  .icon-menu span {
    top: calc(50% - 1rem);
    width: 71.4%;
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 1rem);
    transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 1rem);
    transform: rotate(45deg);
    width: 100%;
  }

  ._primary {
    margin-left: auto;
    @include tablet{
       
    }
  }
}

.menu-open .nav__ul {
  transform: translateX(0);
}

@include mobile {
  .btn._primary {
    padding: 6rem 14rem;
  }

  .header__logo {
    width: 40rem;
    overflow: hidden;
	transform: translateY(2rem);
  }
}
